.scrollbar-thumb,
.scrollbar-track {
  width: 14px !important;
  border-radius: 0 !important;
}

.scrollbar-thumb {
  background-color: #535353 !important;
}

.scrollbar-track {
  background-color: transparent !important;
}
